<div class="card my-12">
  <div class="card-body">
    <div class="filters">
      <input [(ngModel)]="filters.computerName" (input)="searchComputerInvoice()" placeholder="Nazwa komputera" />
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th (click)="toggleSort('computerName')">Nazwa {{ sortIndicator('computerName') }}</th>
          <th (click)="toggleSort('postingDate')">Data ksiegowania {{ sortIndicator('postingDate') }}</th>
          <th scope="col">Koszt [USD]</th>
          <th scope="col">Koszt [PLN]</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let computerInvoice of computerInvoices">
          <td>{{ computerInvoice.id }}
            <button class="btn btn-danger" (click)="deleteComputerInvoice(computerInvoice.id)">Usun</button>
          </td>
          <td>{{ computerInvoice.computerName }}</td>
          <td>{{ computerInvoice.postingDate }}</td>
          <td>{{ computerInvoice.computerCost_in_USD }}</td>
          <td>{{ computerInvoice.computerCost_in_PLN }}
          <td>
        </tr>
      </tbody>
    </table>
  </div>
</div>