<div class="card my-12">
  <div class="card-body">
    <form nz-form style="text-align: left;" [formGroup]="searchForm">
      <input nz-input placeholder="Wyszukaj komputer po nazwie" nzSize="large" style="width:25%;"
        formControlName="word" />
      <button nz-button nzType="primary" style="margin-left: 15px; margin-bottom: 15px;"
        (click)="searchComputerInvoice()">Szukaj</button>
    </form>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Data ksiegowania</th>
          <th scope="col">Koszt [USD]</th>
          <th scope="col">Koszt [PLN]</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let computerInvoice of computerInvoices">
          <td>{{ computerInvoice.id }}</td>
          <td>{{ computerInvoice.computerName }}</td>
          <td>{{ computerInvoice.postingDate }}</td>
          <td>{{ computerInvoice.computerCost_in_USD }}</td>
          <td>{{ computerInvoice.computerCost_in_PLN }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>