<style>
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>
<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
    </div>
  </div>
</main>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card --bright-blue my-6">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3"></h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/computerInvoices" class="btn btn-info">Lista faktur - komputery</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addComputerInvoice" class="btn btn-info">Dodaj nowa fakture</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<router-outlet />